
.btn-3d {
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0 0 rgba(255, 255, 255, 1),
     0px 2px 0 0 rgba(255, 255, 255, 1),
     0px 0px 10px -5px rgba(255, 255, 255, 1);
    color: white;
    font-family: Arial Black, Gadget, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .1s linear;
    user-select: none;
    cursor: pointer;
}
.btn-3d:active {
    border: none;
    transform: translateY( 2px );
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1),
    0px 5px 5px 0px rgba(255, 255, 255, 1),
    inset 0px 0px 10px -5px rgba(255, 255, 255, 1);
}
