<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title>元宝商城</title>
    <script type="text/javascript" src="https://res.wx.qq.com/t/wx_fed/cdn_libs/res/weui/1.2.3/weui.min.js"></script>
    <script type="text/javascript" src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/js/lib/vue3/vue@2.js"></script>
    <script type="text/javascript" src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/js/lib/jquery/zepto.min.js" ></script>
    <script src="<%=BASE_URL%>/ming_mock.js" ></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <script>
        M.config={
            baseUrl:api=> "https://actiondev.langjie.com"+api,
            token:"<%=TOKEN %>"
        }
    </script>
</head>
<body>

<div v-cloak id="main">
    <div v-if="goodsList.length>0">
        <a   v-for="item in goodsList"  @click="exchange(item)"  class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd">
                <p>
                <p style="color: #000;">{{item.name}}</p>
                <p style="color: #999;">{{item.gmt_create}}</p>
                </p>
            </div>
            <div class="weui-cell__ft">
                <p :style="{color:getColorByStatus(item.state)}">{{item.state}}</p>
            </div>
        </a>
    </div>
    <div v-else class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">暂无数据</span>
    </div>

</div>


</body>

</html>



<script>

    M.vueApp = new Vue({
        el: "#main",
        data: {
            goodsList:[
                {name:"333333"},
                {name:"s22s"}]
        },
        async mounted() {

            let that=this;

        },
        methods: {
            getColorByStatus(){
                return "red"
            },
            async exchange(item){
               let r= await M.request.post("/mapi/goodsForYBScore/exchange",{
                    "id":128
                });

            }
        },

        computed: {

        },
    });

</script>


<style>
    * {
        box-sizing: border-box;
    }
    [v-cloak]{
        display: none;
    }
</style>