<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title>我的钱包</title>
    <script src="/js/aui/aui-pull-refresh.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/t/wx_fed/cdn_libs/res/weui/1.2.3/weui.min.js"></script>
    <script type="text/javascript" src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/js/lib/vue3/vue@2.js"></script>
    <script src="/js/kendo/jquery.min.js" type="text/javascript"></script>
    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/request.js" type="text/javascript"></script>
    <script src="/memberhtml/pages/lq_activity_ybscore/server.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/memberhtml/pages/lq_activity_ybscore/index.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
</head>
<body>
<div id="main">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">元宝分</div>
            <div class="weui-navbar__item">元宝券</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div v-if="false" class="aui-refresh-content0">
                    <ul>
                        <li v-for="(item, index) in  5" :key="index">
                            <div>
                                <msg-item msgtype="0" ></msg-item>
                            </div>
                        </li>
                    </ul>
                </div>
                <div v-else class="weui-loadmore weui-loadmore_line">
                    <span class="weui-loadmore__tips">暂无数据</span>
                </div>
            </div>
            <div class="weui-tab__content">
                <div  class="aui-refresh-content1">
                    <ul>
                        <li v-for="(item, index) in  5" :key="index">
                            <div>
                                <msg-item msgtype="0" ></msg-item>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="msg-foot">

    </div>
</div>
</body>

</html>

<template id="msgItemTemplateId">
    <div class="msgItemWrap">
AAAAAAAAA
    </div>
</template>


<script src="/memberhtml/pages/lq_activity_ybscore/index.js"></script>

