<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="<%=BASE_URL%>/index.js" />
    <script>
        const TOKEN= "<%=TOKEN %>";
        const BASE_URL="<%= BASE_URL %>";
        const userInfo={
                 name:  "<%=USER_INFO.name %>",
                 company: "<%=USER_INFO.company %>",
                 avatar: "<%=USER_INFO.avatar %>",
                 userId: <%=USER_INFO.userId %>
        }
    </script>
</head>
<body>

<div>
    BASE_URL:  <%= BASE_URL %>
    <br/>
    name: <%=USER_INFO.name %>
    <br/>
    TOKEN: <%=TOKEN %>
</div>


<script type="module">
    import Config from "<%= BASE_URL %>/config.js"
    console.log(Config)
</script>


</body>
</html>