<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width, initial-scale=1.0">
    <title>用车详情</title>
    <script type="text/javascript" src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/js/lib/vue3/vue@2.js"></script>
    <script src="../../../js/kendo/jquery.min.js" type="text/javascript"></script>
    <script src="../../../js/common.js" type="text/javascript"></script>
    <script src="./ImgUtils.js" type="text/javascript"></script>
    <script src="../../common/lib/ming_mock/m_staff_request.js" type="text/javascript"></script>
    <script src="./server.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .submit-button {
            margin: 20px;
            background-color: #1aad19;
            color: #fff;
        }
        .delete-button {
            margin: 20px;
            background-color: #f44336;
            color: #fff;
        }
        .image-upload {
            text-align: center;
            border: 1px dashed #ccc;
            border-radius: 10px;
            padding: 0;
            width: 40vw;
            height: 40vw;
            box-sizing: border-box;
        }
        .image-upload img {
            width: 40vw;
            height: 40vw;
        }
        .upload-icon {
            font-size: 24vw;
            color: #ccc;
        }
        .button-container {
            display: flex;
            align-items: center; /* 水平居中 */

        }
        .weui-cell{
            border: 0;
        }
        .weui-cell__ft input {
            width: 100%;
            padding: 10px;
            border: none; /* Remove border */
            border-radius: 5px;
            background-color: #f7f7f7; /* Optional: match background */
            outline: none; /* Remove outline on focus */
        }
        .map-icon {
            width: 20px; /* Adjust size as needed */
            height: 20px; /* Adjust size as needed */
            margin-left: 5px; /* Space between text and icon */
            vertical-align: middle; /* Align icon with text */
        }
    </style>
    <style>
        /* ... (保留原有的样式) ... */
        .image-upload-wrap{
            display: flex;
            flex-wrap: nowrap; /* 允许换行 */
            justify-content: space-between; /* 两端对齐 */
        }

        .weui-panel__bd {
            display: flex;
            flex-wrap: nowrap; /* 允许换行 */
        }

        .submit-button, .delete-button {
            width: 48%; /* 按钮占48%的宽度 */
        }
        .vertical-divider {
            width: 1px; /* 设置分割线的宽度 */
            background-color: #dcdcdc; /* 设置分割线的颜色 */
            margin: 0 10px; /* 设置分割线左右的间距，根据需要调整 */
        }

        /* 添加图标样式 */
        div  .image-delete {
            position: absolute;
            cursor: pointer;
            width: 8vw;
            height: 8vw;
            top: 0;
            right: 0;
        }


    </style>
</head>
<body>
<div id="main">

    <div class="weui-panel">
        <div class="weui-panel">
            <div class="weui-cell">
                <div @click="goBack" class="weui-cell__bd">{{ car_no }}-{{g_v_id}}({{status}})</div>
                <div class="weui-cell__ft">{{ user_name }}</div>
            </div>
        </div>
        <div class="image-upload-wrap">
            <div style="margin-left: 4vw" class="image-upload" @click="$refs.fileInput.click()">
                <input  :disabled="disable_edit"   type="file" ref="fileInput"  @change="onFileChange($event,'take_img')" accept="image/*" style="display: none;" />
                <div v-if="take_img_temp==null" class="upload-icon">取</div>
                <div style="position: relative" v-if="take_img_temp!=null">
                    <img @click="showImg($event,take_img)"  :src="take_img" alt="Pick-up Image" />
                    <img v-show="!disable_edit" class="image-delete" src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/car_img_edit0045.png" />
                </div>
            </div>
            <div class="vertical-divider"></div>
            <div style="margin-right: 4vw" class="image-upload" @click="$refs.fileInput1.click()">
                <input  :disabled="disable_edit"  type="file" ref="fileInput1"  @change="onFileChange($event,'back_img')" accept="image/*" style="display: none;" />
                <div v-if="back_img_temp==null" class="upload-icon">还</div>
                <div  style="position: relative" v-if="back_img_temp!=null">
                    <img  @click="showImg($event,back_img)" :src="back_img" alt="Pick-up Image" />
                    <img  v-show="!disable_edit" class="image-delete"  src="https://langjie.oss-cn-hangzhou.aliyuncs.com/space/root/project/viphelp/car_img_edit0045.png" />
                </div>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div  style="padding: 16px; width: 48vw;display: flex">
                <div style="width: 30vw" class="weui-cell__ft">
                    <input :disabled="disable_edit" style="background-color: honeydew"  type="number" v-model="take_mile" placeholder="请输入取车里程" />
                </div>
            </div>
            <div class="vertical-divider"></div>
            <div style="padding: 16px; width: 48vw; display: flex" >
                <div style="width: 30vw" class="weui-cell__ft">
                    <input :disabled="disable_edit" style="background-color: honeydew"  type="number" v-model="back_mile" placeholder="请输入还车里程" />
                </div>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div  style="padding: 16px; width: 48vw;">
                <div>{{this.take_time}}</div>
            </div>
            <div class="vertical-divider"></div>
            <div style="padding: 16px; width: 48vw;">
                <div>{{this.back_time}}</div>
            </div>
        </div>
        <div class="weui-panel__bd">
            <div  style="padding: 16px; width: 48vw;">
                <div></div>
                <div>{{this.take_gps}}</div>
            </div>
            <div class="vertical-divider"></div>
            <div style="padding: 16px; width: 48vw;">
                <div>{{this.back_gps}}</div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">本次行程</div>
            <div class="weui-cell__ft">{{ this.back_mile - this.take_mile }}</div>
        </div>
        <div class="weui-cell">
            <div style="width: 10vw">类型</div>
            <div class="weui-cell__ft" style="width:36.5vw; display: flex;justify-content:space-between">
                <label  style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" style="width: 20px" type="radio" value="1" v-model="is_pub" />
                    <span style="margin-left: 2vw; white-space: nowrap; ">公用</span>
                </label>

                <label  style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" style="width: 20px" type="radio" value="0" v-model="is_pub"/>
                    <span style="margin-left: 2vw;  white-space: nowrap;">私用</span>
                </label>
            </div>
        </div>

        <div class="weui-cell" v-if="is_pub==1">
            <div style="width: 10vw">事因</div>
            <div class="weui-cell__ft" style="width: 82vw; display: flex; justify-content: space-between;">
                <label style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" type="radio" value="出差" v-model="reason_type" style="width: 20px;"/> <!-- 增加单选按钮的尺寸 -->
                    <span style="margin-left: 2vw; white-space: nowrap;">出差</span>
                </label>
                <label style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" type="radio" value="接送" v-model="reason_type" style="width: 20px;"/> <!-- 增加单选按钮的尺寸 -->
                    <span style="margin-left: 2vw; white-space: nowrap;">接送</span>
                </label>
                <label style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" type="radio" value="团建" v-model="reason_type" style="width: 20px;"/> <!-- 增加单选按钮的尺寸 -->
                    <span style="margin-left: 2vw; white-space: nowrap;">团建</span>
                </label>
                <label style="display: flex; align-items: center;">
                    <input :disabled="disable_edit" type="radio" value="修车" v-model="reason_type" style="width: 20px;"/> <!-- 增加单选按钮的尺寸 -->
                    <span style="margin-left: 2vw; white-space: nowrap;">修车</span>
                </label>
            </div>

        </div>
        <div v-if="is_pub==1" >

            <div class="weui-cell">
                <div  style="width: 10vw" >备注:</div>
                <div class="weui-cell__ft">
                    <input style="width: 70vw; background-color: honeydew" :disabled="disable_edit"  v-model="reason"  placeholder="请输入备注"></input>
                </div>
            </div>
    </div>

    <div class="button-container">
        <button
                class="weui-btn weui-btn_primary submit-button"
                @click="submit"
                :disabled="disable_edit"
                :style='{
                   "background-color":disable_edit? "#CCC":null
                }'
        >
            提交
        </button>
        <button
                class="weui-btn weui-btn_primary delete-button"
                @click="deleteRecord">
            删除
        </button>
    </div>
</div>

<script>
    const BASE_IMG = img => 'https://langjie.oss-cn-hangzhou.aliyuncs.com/public/img/gallery/' + img;
    new Vue({
        el: '#main',
        data: {
            g_v_id:0,
            disable_edit:true,
            user_name: '',
            status:"",
            car_no: '',
            take_gps: "",
            back_gps: "",
            take_time: '',
            back_time: '',
            reason_type:"出差",
            reason: '',
            use_mile: '',
            take_mile: '',
            back_mile: '',
            take_img: null,
            back_img: null,
            take_img_temp: null,
            back_img_temp: null,
            is_pub:1,
            typeOptions: [
                { value: 1, label: '公用' },
                { value: 0, label: '私用' }
            ]
        },
        methods: {
            showImg(event,imgUrl){
                event.stopPropagation();
                if(imgUrl!=null && !imgUrl.endsWith("null")){
                    location.href=imgUrl;
                }
            },
            goBack(){
                location.href="/memberhtml/pages/vehicle_regist/index.html";
                return;
            },
            async getBackGps(type) {
                try{
                    const r = await M.getLocation();
                    if(type==="take"){
                        this.take_gps=`${r[0].toFixed(3)},${r[1].toFixed(3)}`;
                    }else {
                        this.back_gps=`${r[0].toFixed(3)},${r[1].toFixed(3)}`;
                    }
                }catch(e){
                    alert(e.message);
                }       
     
            },
            async onFileChange(event, imgType) {
                wxLoadToast("上传中...");
                let file = event.target.files[0];
                file=await ImgUtils.zip(file,{quality:0.3});
                const r = await MIO.member_ajax_ossUpload({
                    file: file
                });
                if(M.checkR(r)){

                    let r1=null;
                    if(imgType=="take_img"){
                        await this.getBackGps("take");
                        r1=await  MIO.vehicleRegistUpdateTake({
                            id:this.g_v_id,
                            take_time:new Date().format("yyyy-MM-ddThh:mm:ss"),
                            take_img:r.data.expressResult[0],
                            take_gps: this.take_gps
                        });
                    }else {
                        await this.getBackGps("back");
                        r1=await  MIO.vehicleRegistUpdateBack({
                            id:this.g_v_id,
                            back_time:new Date().format("yyyy-MM-ddThh:mm:ss"),
                            back_img:r.data.expressResult[0],
                            back_gps: this.back_gps
                        });
                    }
                    $('#loadingToast').remove();
                    if(M.checkR(r1)){
                        this[imgType] =BASE_IMG(r.data.expressResult[0]) ;
                        this[imgType+"_temp"] =r.data.expressResult[0];
                        this.fetch();
                    }else {
                        alertToast(r1.msg);
                    }

                }else {
                    alertToast(r.msg);
                }
            },
            async submit() {
                  if(!this.back_img_temp){
                      alertToast("缺少还车图");
                      return;
                  }

                if(!this.back_mile==null||this.back_mile<=0){
                    alertToast("缺少还车行程");
                    return;
                }

                  const r=await  MIO.vehicleRegistUpdate({
                        id: this.g_v_id,
                        take_mile: this.take_mile,
                        take_time:this.take_time,
                        back_mile: this.back_mile,
                        back_time: this.back_time,
                        back_gps: this.back_gps,
                        reason: this.reason,
                        reason_type: this.reason_type,
                        take_img: this.take_img_temp,
                        back_img: this.back_img_temp,
                        is_pub: this.is_pub,
                    });
                   if(r.code===200){
                       wxToast("修改成功");
                       location.href="/memberhtml/pages/vehicle_regist/index.html";
                       return;
                   }else {
                       wxToast(r.msg);
                   }
            },
            async deleteRecord() {
                let r= window.confirm("确定删除");
                if(r){
                   const ret=await  MIO.vehicleRegistDelete({v_id: this.g_v_id})
                   if(M.checkR(ret)){
                       wxToast("删除成功");
                       location.href="/memberhtml/pages/vehicle_regist/index.html";
                       return;
                   }else {
                       wxToast(ret.msg);
                   }

                }
                // 在这里添加删除逻辑
            },

            async fetch(){
                const r = await MIO.vehicleRegistGetRecordById({
                    v_id:this.g_v_id
                });
                let record = r.data;
                this.user_name = record.user_name;
                this.car_no = record.car_no;
                this.take_time = new Date(record.take_time).format("yyyy-MM-dd hh:mm:ss");
                if(record.back_time){
                    this.back_time = new Date(record.back_time).format("yyyy-MM-dd hh:mm:ss");
                }else {
                    this.back_time = null;
                }
                if(record.reason_type==null||record.reason_type==""){
                    record.reason_type="出差";
                }
                this.take_img = BASE_IMG(record.take_img);
                this.back_img = BASE_IMG(record.back_img);
                this.take_img_temp = record.take_img;
                this.back_img_temp = record.back_img;
                this.take_gps =record.take_gps;
                this.back_gps =record.back_gps;
                this.back_mile = record.back_mile;
                this.take_mile = record.take_mile;
                this.reason = record.reason;
                this.status=record.status;
                this.reason_type = record.reason_type;
                this.is_pub = record.is_pub;
                if(this.back_mile >0 && this.back_mile-this.take_mile>0){
                    this.disable_edit=true;
                }else {
                    this.disable_edit=false;
                }
            },

        },


        async mounted() {
            this.g_v_id=M.getParameter("v_id")|| M.getPageParam().v_id;
            this.fetch();
        }
    });
</script>
</body>
</html>
