


.online_div {
    /* display: inline; */
    top: 0vw;
    left: 0px;
    width: 100vw;
    line-height: 4vw;
    font-size: 4vw;
    vertical-align: bottom;
}

.online_div .online_div_zaixian{
    display: flex;
    justify-content: flex-start;
    margin: 1.8vw;
    align-items: center;

}



.online_div .online_div_opera{
    display: flex;
    justify-content: flex-start;
    margin: 1.8vw;
    align-items: center;
}
.online_div .mid{
    margin-left: 2vw;
    text-align: center;
    width: 30vw;
}
.online_div .left_icon{
    width: 4.87179vw;
    height: 4.87179vw;
}
.online_div .right_icon{
    width: 4.87179vw;
    height: 4.87179vw;
    margin-left: 2vw;
}




.disTitle{
    display: flex;
    justify-content: space-around;
}

.disTitle div{
    width: 25vw;
    margin: 2vw;
}

.input_wrap{
    width: 25vw;
    margin: 5vw;
}
.input_wrap input{
    width: 25vw;
}
.firstbtn{
    bottom: 0;
    background-color: pink;
    height: 10vw;
    text-align: center;
}
.btnZone{
    display: flex;
    justify-content: space-evenly;
}
.btnZone a{
    display: block;
}


.online_msg {
    margin-top: 5vw;
    background: rgba(234,243,240,0.1);
    width: 100vw;
    height: 70vh;
    line-height: 4vw;
    overflow: auto;
    font-size: 2vw;
    font-weight: normal;
    vertical-align: bottom;
    white-space:nowrap;
    background-color: gainsboro;
}
.online_msg .msg-item{
    border-bottom: white 1px solid;
}

.btn1{
    background-color: rgb(196,214,160);
}


.btn2{
    background-color: rgb(217,149,143);
}


.btn3{
    background-color: rgb(245,229,153);
}

input{
    text-align: center;
}